
:root {
    --primary: #A0D9D9;
    --secondary: #F7E49A;
    --font-display: 'Playfair Display', serif;
    --font-body: 'Open Sans', sans-serif;
}



* {
    margin: 0;
    padding: 0;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-display);
}

h1 {
    font-size: 40pt;
    font-weight: 100;
}

h2 {
    font-family: var(--font-body);
    font-size: 20pt;
    font-weight: 100;
}

p,
li {
    font-family: var(--font-body);
}

p{
    color: black;
    text-align: center;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--font-body);
    background-color: var(--primary);
    color: white;
}

nav {
    height: 72px;
}

.flexbox {
    display: flex;
    flex-direction: row;
}

.logo {
    white-space: nowrap;
}


nav .logo,
footer .logo {
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.logo h3 {
    font-family: var(--font-display);
    font-size: 22pt;
    font-kerning: -70;
    font-weight: 400;
}



.logo-star {
    color: var(--secondary);
    font-family: var(--font-display);
    font-size: 32pt;
}


nav .logo-star {
    align-self: flex-start;
    padding-top: 8px;
}

.button-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.button-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    transition: 0.24s;
}

.hero {
    width: 100%;
    height: 78.8%;
    background: url("../Images/headerpic.png") no-repeat;
    background-position: 112% 32%;
    background-size: 50%;
    z-index: 2;
}

header {
    height: 100%;
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    padding-left: 10%;
}

header .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .logo-star {
    font-size: 56pt;
    transform: translateY(-12%)

}

header .tagline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .tagline h2 {
    margin-left: 2%;
    color: black;
}

.little-yellow-box {
    background-color: #F7E49A;
    width: 16px;
    height: 16px;
}
/* #hero{
    display: flex;
    justify-content: right;
    align-items: center;} */


.CS-container{
    background-color: white;
    display: flex;
    flex-grow: 1;
    justify-content: flex-centre;
    padding: 40px 20%;
}
.left {
    float: left;
    padding-right: 15px;
  }
.right {
    float: right;
    padding-left: 15px;
}

.cs-box1{
    background-color: #F7E49A;
    padding: 16px;
    height: fit-content;
    min-width: 200px;
    transform: translateY(18%)
    /* transform: translateX(-14%) */
    /* position: relative;
    width: 50%;
    max-width: 300px; */
}
.cs-box2{
    padding: 16px;
    background-color: #CBE8D4;
    width: 300px;
    height: fit-content;
    min-width: 200px;
}
.cs-box3{
    padding: 16px;
    background-color: #C9E4F1;
    width: 300px;
    height: fit-content;
    min-width: 200px;
    transform: translateY(-20%)

}
.cs-name{
    color: #707070;
    font-size: 28pt;
    font-family: var(--font-display);
    line-height: 97%;

}
.cs-subname{
    color: #707070;
    font-size: 18pt;
    font-kerning: -20pt;
    font-family: var(--font-display);
    line-height: 97%;
    padding: 12px 0;
}
.summary{
    color: #707070;
    line-height: 98%;
    padding-bottom: 12px;
}
.cs-button{
    color: #707070;
    padding: 8px 0;
}

.contact{
    background-color: white;
    display: flex;
    justify-content: center;
}
.details{
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
}
.span{
    background-color: white;
    padding-top: 24px;
}

footer {
    width: 100%;
    height: auto;
    position: bottom;
    bottom: 0;
    background: black;
}

footer .links {
    display: flex;
    justify-content: space-evenly;
    padding: 24px 0px;
}

footer .link {
    color: white;
    display: flex;
    justify-self: center;
    align-self: center;
}